name: CI/CD Pipeline
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -name: Checkout Code
        uses: actions/checkout@v2
      -name: Install Dependencies
        run: npm install
      -name: Run Tests
        run: npm test
      -name: Build Application
        run: npm run build
      -name: Deploy application
        run: |
          scp -i ${{secrets.SSH_PRIVATE_KEY}} ubuntu@ec2-34-207-160-147.compute-1.amazonaws.com:./sample-app
